<div class="col-md-12 footer">
	
	<div class="principal">
		<h1><span aria-hidden="true" class="glyphicon glyphicon-tasks"></span>Índice</h1>

		<div class="oeds">OEDs</div>
	</div>
	
	<div class="paginacao">
		<div class="setaEsquerda"><img src="img/paginacao_seta_esquerda.png" alt=""></div>

		<form>
			<input type="paginacao" class="form-control" id="paginacao" value="capa">
		</form>

		<div class="setaDireita" ng-click="paginacao()"><img src="img/paginacao_seta_direita.png" alt=""></div>
	</div>

	<div class="opcionais">
		
		<div class="zoom">
			<h1>Zoom</h1>
			<div class="controles">
				<img src="img/zoom_out.png" alt="">
				<h2 class="valor"></h2>
				<img src="img/zoom_in.png" alt="">
			</div>
		</div>

	</div>
</div>