<div class="col-md-12 header">
	
	<div class="principal">
		<div class="engrenagem">
			<img src="img/engrenagem.png" alt="" class="img-responsive">
		</div>
		
		<div class="separador"><img src="img/separador.png" alt=""></div>

		<div class="titulo">
			<h1>Apoema Matemática 6</h1>
		</div>

		<div class="separador"><img src="img/separador.png" alt=""></div>
	</div>

	<div class="opcionais">
		<div class="busca">
			<form>
				<input type="busca" class="form-control" id="busca" placeholder="Busca">
			</form>
		</div>

		<div class="separador"><img src="img/separador.png" alt=""></div>

		<div class="logoEditora">
			<img src="img/logo_editora.png" alt="" class="img-responsive">
		</div>

		<div class="separador"><img src="img/separador.png" alt=""></div>

		<div class="ajuda">
			<img src="img/ajuda.png" alt="" class="img-responsive">
		</div>
	</div>
</div>